*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
        
}
body {
    background: #000;
}
section {
    position: relative;
    width: 100%;
    padding: 50px;
    
}

.carcal {
    position: relative;
    overflow: hidden;
    
}
.carcal.carcal1 {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 50%;
    margin: 20px;
    shape-outside: circle();
}
.carcal.carcal2 {
    width: 300px;
    height: 300px;
    float: right;
    border-radius: 50%;
    margin: 20px;
    shape-outside: circle();
    
}

section div h2 {
    color:#fff;
    font-size: 30px;
    margin-bottom: 20px;
    
}
section div p {
    color:#fff;
    font-size: 18px;
}
